.button {
  border-radius: 5rem;
  display: flex;
  height: 2.5rem;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-color: rgb(56, 55, 55);
  margin: 0;
  margin-top: 2rem;
  cursor: pointer;
  border-style: groove;
}
